body {
    background-image: url("images/background.jpg");
	background-size:1471px 940px;
}
p{
	color: white;
	font-family: "Geneva";
	position: relative;
}
li{
	color: white;
	font-family: "Geneva";
	text-align: center;
	position: relative;
}
h3{
	color: white;
	font-family: "Arial Black";
}
