body {
    background-image: url("images/background.png");
	background-size: cover;
}
p{
	color: white;
	font-family: "Geneva";
	position: relative;
}
li{
	color: white;
	font-family: "Geneva";
	text-align: center;
	position: relative;
}
h3{
	color: white;
	font-family: "Arial Black";
}
